
#topnav
{
	background:url('img/nav.jpg') repeat x;
	font-family: "Calibri", "AvantGarde Md BT","sans-serif", "Helvetica", ;
	color: #000000;
	font-size: 15px;
	text-align:right;
	width: 100%;
	height:30px;
}

#over {
  float: right;
  margin-right: 0px;
  
  }

#topnav a:hover {

	color:#D49FAA;
	text-decoration: none;
}
#topnav a {

	color:#AA9F00;
	text-decoration: none;
}
#header {
	font-family:Calibri;
	}

body{
width:100%;
position:relative;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

#bottomnav
{
	
	font-family: "AvantGarde Md BT","sans-serif", "Helvetica", ;
	color: #e7ca6e;
	font-size: 13px;
	text-align:right;
	padding: 2px;
	width: 30%;
	position:fixed;
	bottom:0px;
	margin-bottom:-36px;
}
#bottomnav a:hover {


	color: #cccccc;

	text-decoration: none;

}
#bottomnav a {

	color: #9fa7c7;

	text-decoration: none;

}

.content{
	position: relative;
	top: -4px;
	left: -10px;
	}


#target
{
	
-moz-border-radius:30px;
	 border-radius:30px;
	text-align:justify;
	font-family:"Calibri";
	background:#e5e5e5;
	background-color:#e5e5e5;
	min-height:600px;
	width:100%;
	font-size:15px;
	text-wrap: true;
	padding-left:30px;
	padding-top:25px;
	padding-right:20px;
	padding-bottom:20px;
}
.myBox
{
	font-family: "AvantGarde Md BT","sans-serif", "Helvetica", ;
 
	margin: 3px auto;
    color: #000000;
    padding: 0px;
    text-align: left;
    background-color:#000000;
    border: 0px solid #000000;
}
.borderStyle
{

}
#blackBorder
{
	border: 0px solid #000000;
}
#orangeBorder
{
	border: 0px solid #FFFFFF;
	padding: 13px;
}
#brownBorder
{
	border: 1px solid #3C2B17;
}
body {
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
font-weight: normal;
font-size: 14px;
font-family: Trebuchet MS, Arial, sans-serif;
color: #000000;
background:#000000 none repeat scroll 0 0;
}

h1 {
margin-left:20px;
color:#553F00;
font-family: Calibri;
font-size: 20px;
font-weight: bold;
}

H2 {
color: #A1A690;
font-family:Calibri;
font-size: 10px;
font-weight: normal;
}

p {
color: #000000;
font-family: Arial;
font-size: 14px;
margin-left:20px;
font-weight: normal;
}
#heading
{
	color: #660000;
	font-family:Calibri;
	font-size: 20px;
	font-weight: bold;
}
.buttonStyle {
border: 1px #000000 solid;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 9px;
font-style: strong;
background:#2A3F00;
color:#FFFFFF;
}
.nextStyle {
border: 1px #000000 solid;
font-family:Arial;
font-size: 12px;
font-style: strong;
background:#551F55;
color:#000000;
}
/* following for shadows */

/* following  for tabs */
.solidblockmenu ul{
margin: 0;
padding: 0;
font-size: 12px;
font-weight:
font-family: "Helvetica" ;


}

.solidblockmenu li{
display: inline;

}

.solidblockmenu li a{
float: left;
color:#AA9F00;
padding: 6px 15px;
text-decoration: none;
border-right: 1px solid #000000;
}

.solidblockmenu1 ul{
padding: 0;
font-size: 12px;
font-weight:
font-family: "Helvetica" ;


}

.solidblockmenu1 li{
display: inline;
}

.solidblockmenu1 li a{
float: left;
color:#AA9F00;
padding: 6px 15px;
text-decoration: none;
/*border-right: 1px solid #000000;*/
}

.marqee {
float:left;
position:relative;
top:5px;
width:200px;
z-index:0;
}


.solidblockmenu li.current a, .solidblockmenu li a:hover{
	
	color:#ffffff;/*background: url(img/bckwhite.png) ; left tab image path*/
	background-position: left;
}

.solidblockmenu li.marq {
			top: 10px;
			font-family: "Helvetica" ;

			}

.solidblockmenu{
	top: 5px;
	position: relative;
	padding: 5 40px;
	background: #2c2a2b; 
	 border-radius:10px;
	 -moz-border-radius:10px;
	height: 32px;
	list-style: none;
}
.solidblockmenu1 li.current a, .solidblockmenu1 li a:hover{
	
	color:#ffffff;/*background: url(img/bckwhite.png) ; left tab image path*/
	background-position: left;
}

.solidblockmenu1 li.marq {
			top: 10px;
			font-family: "Helvetica" ;

			}

.solidblockmenu1{
	top: 5px;
	width: 206px;
	position: relative;
	padding: 5 40px;
	margin-left:auto;

	background: transparent url(img/bckyellow.gif) repeat-x; /*tab background image path*/
	height: 32px;
	list-style: none;
}

.fade{
	top: 222px;
	position: relative;
	
	background: transparent url(img/fade.png) repeat-x;
	height: 15px;
	margin: 0;
padding: 0;
	}
	


.solidblockmenu li a:visited{
color: ;
}

.solidblockmenu li a:hover, .solidblockmenu li a.current{
color:#e8daaa;
/*background: url(img/blockactive.jpg) center center repeat-x;*/
}
.solidblockmenu1 li a:visited{
color: ;
}

.solidblockmenu1 li a:hover, .solidblockmenu1 li a.current{
color:#e8daaa;
/*background: url(img/blockactive.jpg) center center repeat-x;*/
}

.tabcontainer{
clear: left;
width:95%; /*width of 2nd level sub menus*/
height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}

*:first-child+html .ieclass{ /*IE7 hack to remove gap between menu and sub contents*/
margin-top: -1em;
}

* html .ieclass{ /*IE6 and below hack to remove gap between menu and sub contents*/
margin-top: -1em;
}

#contents {
   width: 70%;
   margin-left: 20px;
   margin-top: 30px;
   background: white;
   min-height:600px;
    border-radius:30px;
	-moz-border-radius:30px;
   }

.tabcontent{
display:none;
}
#sddm
{	top: 5px;
	position: relative;
	padding: 5 40px;
	background: transparent url(img/bckyellow.gif) repeat-x; /*tab background image path*/
	height: 32px;
	list-style: none;
	min-width:500px;
	color  : #AA9F00;
}

#sddm li
{	margin: 0;
	padding: 0;
	color  : #AA9F00;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 8px 10px;
	width: 60px;
	color  : #AA9F00;
	text-align: center;
	text-decoration: none;
	}

#sddm li a:hover
{color:#e8daaa;	
/*background: #808080
*/}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	/*background: #EAEBD8;*/
	border: 1px solid #000;
	}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #101010;
		color  : #AA9F00;
		font: 11px arial;
		}

	#sddm div a:hover
	{	//background: #a0a0a0;
		color: #e8daaa}
