body {  background: url(img/bgunit2.jpg) repeat-y  ;
	font-family: Verdana, Arial, sans-serif;
	padding:0px;
	margin:0px;
	min-width: 1250px;
	max-width: 1300px;
	}

	#logo {
	float: left;
	margin-left:-0px;
	}
	
	#forex {
	 background-color:#060606;
	 border-radius:30px;
	 -moz-border-radius: 30px;
	 -moz-border-radius-topright: 0px;
	 border-top-right-radius:0;
	 float: left;
	 width: 25%;
	 margin-top:165px;
	 margin-left: 4.65%;
	 padding-left: 2%;
	 padding-right: 2%;
	 padding-bottom: 30px;
	 padding-top: 15px;
	 }
	 
	 #woodstock {
	background-color:#060606;
	border-radius:30px;
	-moz-border-radius: 30px;
	border-bottom-left-radius:0;
	-moz-border-radius-bottomleft: 0px;
	float: right;
	width: 25%;
	margin-top:20px;
	padding-top:20px;
	padding-left: 3.13%;
	
	z-index: 1000;
	padding-right: 3.1%;
	padding-bottom: 30px;
	
	 }
	 
	 #loginform {
	background-color:#060606;
	border-radius:30px;
	-moz-border-radius: 30px;
	border-bottom-left-radius:0;
	-moz-border-radius-bottomleft:0px; 
	border-top-right-radius:0;
	-moz-border-radius-topright: 0px;
	min-height: 350px;
	float: left;
	margin-top:55px;
	padding-left: 5.97%;
	padding-right: 6.05%;
	padding-bottom: 30px;
	padding-top: 100px;
	width: 23.10%;
	 }
	#tagline {
	margin-top:19px;
	}
td {
	font-family: Verdana, Arial, sans-serif;
}

tr {
	font-family: Verdana, Arial, sans-serif;
}
a,a:hover,a:visited{
	text-decoration:none;
	color:#ffffff;
}
#wrapper{
	
	width:1100px;
	margin-left:auto;
	margin-right:auto;
}
#mainBox {
	border:#000000 1px solid;
	padding:0px;
	font-family:Verdana, Arial, sans-serif;
}
h1 {
	font-family:Verdana, Arial, sans-serif;
	font-size:20px;
}

#header{
	width:100%;
	position: relative;
	
	top:20px;
	height:75px;
	margin:0 0;
}

#footer{
	bottom:0px;
	position:fixed;
}	

.one {
width: 190x;
height: 26px;
background: url(sprite.jpg) no-repeat 0 -201px;
width:190px;
border: none;
padding: 5px 0 0 10px;
}

.contents {
    min-height: 1000px;
	min-width: 900px;
	background: url(img/bgunit.jpg) repeat-y;
	}
.text{
font-weight: bold;
position:relative;
z-index:2;
float:right;
top:240px;
right:486px;
}

#container{
	position:relative;
	top:29px;
	left:50px;
	min-width:1024px;
	height:65px;
	overflow:visible;
}
.button{
   background:transparent url(woodstock.png) no-repeat left bottom;cursor:pointer;
}

.wood{
	height:380px;

	opacity:0.8;
	background:transparent url(woodstock.png) no-repeat left bottom;cursor:pointer;
	
}
.forex{
	height:380px;opacity:0.8;

	background:transparent url(forex.png) no-repeat left bottom;cursor:pointer;
}
