html,body
{
	margin: 0px;
	padding: 0px;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
	box-sizing:border-box;
}
div{box-sizing:border-box;}
div.wrapper{width:100%;box-sizing:border-box;min-height:300px;padding:0px;margin:0px;box-sizing:border-box;}
div.header-wrap{width:100%;min-width:200px;height:80px;background:#FFFFFF;border:1px solid #B8B8B8;box-sizing:border-box;-webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.5);	-moz-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.5);box-shadow: 0 10px 6px -6px rgba(0,0,0,0.5);z-index:100;position:relative;
}
div.header{margin:0 12% 0 12%;}

div.container{
position:relative;
z-index:0;
margin:0px;
padding:0px;
margin-top:-100px;
width:100%;
height:auto;
box-sizing:border-box;
}

.slider-image{
width:100%;
height:auto;
z-index:0;
}

.slider
{
width:100%;
}

div.logo{width:10%;min-width:100px;margin:15px;box-sizing:border-box;display:inline-block;}
div.logo>img{width:100%;}

div.login{width:30%;min-width:100px;display:inline-block;vertical-align:top;margin-top:18%;margin-left:-18%;}
div.login-input{display:inline-block;}
input{font-size:12px;padding:5px;width:150px;margin:0px;border:1px solid #B8B8B8;box-shadow:none;}
div.menu{height:100px;margin:5%;box-sizing:border-box}
div.menu-item>img{width:150px;}
div.menu-item{display:inline-block;margin:0 10% 0 10%;}
div.footer{width:100%;padding:2%;background:#5b2001;height:50px;box-sizing:border-box;}
