#home-header{width:100%;padding:0;}
#home-header-navbar{min-height:80px;margin-bottom:-5px;}
.navbar-middle{margin-top:14px;}
.image-logo{}
.home-logo{max-width:150px}
.logo{max-width:120px;}
.pull-right{float:right}
.carousel-caption{right:-15%;bottom:80px;}
.carousel-control{z-index:100}
.market-img{max-width:140px;text-align:center;margin:0px auto}
body{padding:0px; margin:0px;}
html{padding:0px;margin:0px;}
.navbar-brand{padding:5px;}
#login-container{max-width:400px;margin-top:60px;}
.rememberMe{font-size:14px;font-weight:normal}
.login-btn{max-width:100px;}
.main-container{min-height:500px;}
.register-container{max-width:500px;}
.login-alert{position:relative;}
.btn-register{}
.panel-primary>.panel-heading{background:#5B2001;border-color:#5B2001}
.panel-primary{border-color:#5B2001}
div.index-login{padding-right:10px;padding-top:10px;}
.index-submit{margin-top:10px;}
.index-reg-btn{margin:0px auto}
.start-club{background:url('../images/start_club_background.png');min-height:300px;background-size:auto 100%;background-repeat:no-repeat;padding:10%;background-position:right;width:88%;font-size:30px;padding-left:8%}
.start-club>h1{margin:0px auto;}
.create-container{max-width:500px;}
.create-btn{margin-top:5%}
.cover-pic{max-height:200px;overflow:hidden;}
.cover-pic>.thumbnail{max-height:210px;}
.centre{text-align:center;}
.cover-inner{max-height:190px;overflow:hidden;}
.club-name{position:absolute;top:-63px;left:4%;font-weight:bold;color:#FFFFFF;text-shadow:0 0 3px rgba(0,0,0,0.8)}
.bordered{border:1px solid #5B2001; border-radius:3px;padding:5px;box-sizing:border-box;}
.border-left{border-left:1px solid #5B2001;padding-top:20px;}
.min-height{min-height:300px;height:100%;}
.column{word-wrap:break-word;display:inline-block;overflow-y:auto;height:100px;margin-top:20px;}
.border-right{border-right:1px solid #5B2001;}
.navbar{margin-bottom:0px;}
.plain{padding:0px;}
.container{box-sizing:border-box;}
.border-bottom{border-bottom:1px solid #5B2001}
.thumbnail{border-radius:0px;border-color:#5B2001}
.club-container{margin-right:15px;}
.border-bottom{border-bottom:1px solid #5B2001;padding-bottom:10px;}
.genres{padding-top:10px;}
.genre{}
.right{position:absolute;top:-63px;font-weight:bold;color:#FFFFFF;text-shadow:0 0 3px rgba(0,0,0,0.8);margin-left:72%;}
.right-more{position:absolute;top:-63px;font-weight:bold;color:#FFFFFF;text-shadow:0 0 3px rgba(0,0,0,0.8);margin-left:25%;}
.books{}
.book{width:100px;max-width:100px;border:1px solid #5B2001;height:150px;display:inline-block;margin-right:18px;margin-bottom:10px;box-shadow:#ccc 5px 5px 5px}
.book>img{width:100px;height:150px;}
.list-view{min-height:100px;margin-bottom:10px;}

/* nil styles */
body{
	max-width: 100%;
	overflow-x: hidden;
}
.book_desc{
	display: none;
	z-index: 100;
}
.book:hover .book_desc{
	display: block;

}
.book {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.popover{
  width:500px;
  height: 150px;
}
#footer{
	background-color:#e7e7e7;
border-color: #e7e7e7;
text-align: center;
color: #5B2001;
}
a{
	color: #5B2001;
}
#footer a:hover{
	color: #F0AD4E;
}
.social a:hover{
	color: #F0AD4E;	
}
#social i {
-webkit-transition: color 0.6s;
-moz-transition: color 0.6s;
-o-transition: color 0.6s;
transition: color 0.6s;
}
#recently_added{

margin-right: 10px;
border: 1px solid #5B2001;


margin-bottom: 10px;

height:380px;
width:250px;
overflow: hidden;
}
#nil_hr hr{
	margin-top:0px;
	margin-bottom:5px;
}
#middlepad{
	text-align: justify;
}