.AccordionTitle, .AccordionContent, .AccordionContainer
{
  
  width:265px;
  background: #1a6c8f;
   -moz-border-radius:10px;
   border-radius:10px;
   color: #ffffff;
}


.Accordiontop
{
  position:relative;
  width:251px;
height:30px;
font-family:AvantGarde Md BT;
font-size:10pt;
 vertical-align:middle;
  text-align:center;
  background: #1a6c8f;
  display:table-cell;
  color: #ffffff;
   -moz-border-radius:10px;
   border-radius:10px;
}

.AccordionTitle
{
  height:28px;
  color: #ffffff;
  overflow:hidden;
  cursor:crosshair;
  font-family:AvantGarde Md BT;
  font-size:15pt;
  font-weight:;
  vertical-align:middle;
  text-align:center;
  background-repeat:repeat-x;
  display:table-cell;
 background: #1a6c8f;
  -moz-user-select:none;
   -moz-border-radius:10px;
   border-radius:10px;
}

#widget {
  border-radius:30px;
   -moz-border-radius:30px;
  float:right;
  margin-top:50px;
  }

.AccordionContent
{
font-family:Calibri, AvantGarde Md BT;
font-size:11pt;
 padding-left: 10px;
  min-height:200px;
  overflow:auto;
   border-radius:10px;
    -moz-border-radius:10px;
color: #ffffff;
background: #16486a;

  }

.AccordionContainer
{
  border-top: solid 1px #3c2b17;
  border-bottom: solid 1px #3c2b17;
  border-left: solid 1px #3c2b17;
  border-right: solid 1px #3c2b17;
   border-radius:10px;
    -moz-border-radius:10px;
   color: #ffffff;
   margin-right:100px;
   background: #16486a;
}

.button{
cursor: pointer;
width:40px;
height:40px;
color: #ffffff;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 12px;
font-style: strong;
z-index:2;

}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

.text{
cursor: pointer;
width:60px;
border: 1px white solid;
font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
font-size: 20px;
font-style: strong;
color: #ffffff;
text-align: left;
}

*|*:-moz-any-link img, img[usemap], object[usemap]
{
border:0px solid;
}