#topnav
{
	background:url('img/bckyellow.gif') repeat left top;
	font-family: "AvantGarde Md BT","sans-serif", "Helvetica", ;
	color: #000000;
	font-size: 13px;
	text-align:right;
	width: 100%;
	height:25px;
}
#topnav a:hover {

	color: #D49FAA;

	text-decoration: none;

}
#topnav a {

	color: #AA9F00;

	text-decoration: none;

}


body{
width:100%;
}
#widget{
position: relative; top: 3px;
}
#bottomnav
{
	background:url('img/bckyellow.gif') repeat left top;
	font-family: "AvantGarde Md BT","sans-serif", "Helvetica", ;
	color: #808080;
	font-size: 13px;
	text-align:right;
	padding: 2px;
	width: 100%;
	position:fixed;
	bottom:0px;
}
#bottomnav a:hover {


	color: #cccccc;

	text-decoration: none;

}
#bottomnav a {

	color: #9fa7c7;

	text-decoration: none;

}

.content{
	position: relative;
	top: -4px;
	left: -10px;
	}


#target
{
	
	
	text-align:justify;
	font-family:"Calibri";
	background:#3c2b17;
	background-color:#7F5F55;
	min-height:500px;
	padding:10px;
	width:98%;
	font-size:15px;
	text-wrap: true;
}
.myBox
{
	font-family: "AvantGarde Md BT","sans-serif", "Helvetica", ;
 
	margin: 3px auto;
    color: #000000;
    padding: 0px;
    text-align: left;
    background-color:#a0a0a4;
    border: 0px solid #000000;
}
.borderStyle
{
	border: 0px solid #000000;
	background:#000000;
}
#blackBorder
{
	border: 0px solid #000000;
}
#orangeBorder
{
	border: 0px solid #FFFFFF;
	padding: 13px;
}
#brownBorder
{
	border: 1px solid #000;
}
body {
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
font-weight: normal;
font-size: 14px;
font-family: Calibri;
color: #000000;
background:#000000 none repeat scroll 0 0;
}

h1 {
color: #553f00;
font-family: Calibri;
font-size: 20px;
font-weight: bold;
}

H2 {
color: #A1A690;
font-family: Calibri;
font-size: 10px;
font-weight: normal;
}

p {
color: #000000;
font-family: Calibri;
font-size: 14px;
font-weight: normal;
margin-left:20px;
}
#heading
{
	color: #660000;
	font-family: Calibri;
	font-size: 20px;
	font-weight: bold;
}
.buttonStyle {
border: 1px #000000 solid;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 9px;
font-style: strong;
background:#2A3F00;
color:#FFFFFF;
}
.nextStyle {
border: 1px #000000 solid;
font-family:Arial;
font-size: 12px;
font-style: strong;
background:#551F55;
color:#000000;
}
/* following for shadows */

/* following  for tabs */
.solidblockmenu ul{
margin: 0;
padding: 0;
font-size: 12px;
font-weight:
font-family:"Helvetica" ;


}

.solidblockmenu li{
display: inline;
}

.solidblockmenu li a{
float: left;
color:#AA9F00;
padding: 6px 15px 0;
text-decoration: none;
border-right: 1px solid #000000;
}


.marqee {
float:left;
position:relative;
top:5px;
width:400px;
z-index:0;
}


.solidblockmenu li.current a, .solidblockmenu li a:hover{
	
	color:#ffffff;/*background: url(img/bckwhite.png) ; left tab image path*/
	background-position: left;
}

.solidblockmenu li.marq {
			top: 10px;
			font-family: "AvantGarde Md BT","sans-serif", "Helvetica", ;

			}

.solidblockmenu{
	top: 3px;
	position: relative;
	padding: 0 40px;
	background: transparent url(img/bckyellow.gif) repeat-x; /*tab background image path*/
	height: 35px;
	list-style: none;
}

.fade{
	top: 222px;
	position: relative;
	
	background: transparent url(img/fade.png) repeat-x;
	height: 15px;
	margin: 0;
padding: 0;
	}
	


.solidblockmenu li a:visited{
color: ;
}

.solidblockmenu li a:hover, .solidblockmenu li a.current{
color:#e8daaa;
/*background: url(img/blockactive.jpg) center center repeat-x;*/
}

.tabcontainer{
clear: left;
width:95%; /*width of 2nd level sub menus*/
height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}

*:first-child+html .ieclass{ /*IE7 hack to remove gap between menu and sub contents*/
margin-top: -1em;
}

* html .ieclass{ /*IE6 and below hack to remove gap between menu and sub contents*/
margin-top: -1em;
}

.tabcontent{
display:none;
}