.ddcolortabs{
padding: 0;
width: 75%;
background: black url(media/color_tabs_left.gif) no-repeat left top;
voice-family: "\"}\"";
voice-family: inherit;
margin-top:-60px;
}

.ddcolortabs ul{
font: 16px Calibri, Arial, Verdana, sans-serif;
margin:0;
padding:0;
list-style:none;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;

}


.ddcolortabs a{
float:right;
color: white;
background: #1283b2 url(media/color_tabs_left.gif) no-repeat left top;
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing: 1px;
min-width:60px;
 border-radius:30px;
  -moz-border-radius:30px;
	 border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
}

.ddcolortabs a span{
float:left;
display:block;
min-width:60px;
background: transparent url(media/color_tabs_right.gif) no-repeat right top;
padding: 4px 8px 2px 7px;
 border-radius:30px;
   -moz-border-radius:30px;
	 border-bottom-left-radius:0;
	 -moz-border-radius-bottomleft:0px;
}

.ddcolortabs a span{
float:none;
}

.ddcolortabs a:hover{
background-color: #383838;
}

.ddcolortabs a:hover span{
background-color: #383838;
}

.ddcolortabs .selected a, #ddcolortabs .selected a span{ /*currently selected tab*/
background-color: #383838;
}

.ddcolortabsline{
clear: both;
padding: 0;
width: 100%;
height: 0px;
line-height: 0px;
background: white;

}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv_a{
position:absolute;
top: 0;
 border-radius:10px;
 -moz-border-radius:10px;
font:normal 12px Arial;
line-height:20px;
z-index:100;
background-color: #08aee0;
width: 200px;
visibility: hidden;
}


.dropmenudiv_a a{
width: auto;
display: block;
text-indent: 5px;
border-radius:10px;
-moz-border-radius:10px;
padding: 2px 0;
text-decoration: none;
color: #383838;
}

* html .dropmenudiv_a a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_a a:hover{ /*THEME CHANGE HERE*/
background-color: #383838;
color: white;
}